!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => "background: #ccccff;"}
    %p.notice= notice
    %p.alert= alert
    = yield
