<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "foobar", :cache => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #ccccff;">
<%- flash.each do |k, v| %>
    <div id="<%= k %>"><%= v %></div>
<% end %>


<%= yield %>

</body>
</html>
