!!!
%html
  %head
    %title
      = yield :title
      \- Blog
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", :cache => true
    = csrf_meta_tags
  %body{:style => "background: #ccccff;"}
    - flash.each do |k, v|
      %div{:id => k}= v

    .welcome
      Welcome, 
      = current_user.email
      |
      = link_to "Sign out", destroy_user_session_path
    = yield
    
    
